*.vs
*.vscode
*.idea
*cmake-build-debug
CMakeLists.txt

**/cmake-build-debug
.idea/*.xml
.idea/workspace.xml
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/Testing/Temporary/LastTest.log
